*{
    font-family: 'Almarai', sans-serif;
}

.flex-card-headline{
    width: 100%;
    font-size: 20px;
}
.flex-card-subtitle{
    font-size: 16px;
}
.flex-card-subtitle::before{
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: violet;
    border-radius: 50%;
}

.cov{
    font-family: cov;
    color: teal;
}

.cmd{
    display: inline-block;
}